<html>
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <%= link_to "Home",  lists_path, class: "navbar-brand"%>
  <%= link_to "create tasks",  new_list_path , class:"mr-sm-2 navbar-brand"%>
</nav>

<div class="banner" style="margin-bottom: 10px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/48/55/5b/48555b49e2c1470dea62f60c8a610179.jpg);" data-aos="flip-up">
  <div class="container">
    <h1>Mew movie brings <strong>fun</strong> and <strong>dope movie</strong>!</h1>
    <p>Change your life and watch mew movie from around the world.</p>
    <%= link_to "create tasks",  new_list_path , class:"mr-sm-2 navbar-brand", class:"btn btn-primary"%>
  </div>
</div>
  <div class="container">
        <h1 data-aos="zoom-out-right" data-aos-duration="100000">My Movies</h1>
          <% @lists.each_with_index do |list, index| %>
              <% if (index % 3  == 0) %>
                <div class="cards", style= "margin-bottom: 10px" data-aos="flip-up">
              <% end %>

                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key , height: 300, width: 400, crop: :fill) : image_path("https://i.ytimg.com/vi/I4rS15xBL1Y/maxresdefault.jpg")%>)">
                <%= link_to list.name, list_path(list.id) %>
              </div>
              <% if ((index - 2) % 3  == 0) && (index - 2 >= 0) %>
                </div>
              <% end %>
          <% end %>
        <p><%= link_to "create tasks",  new_list_path %></p>
</div>
</html>


