<nav class="navbar navbar-light bg-light">
  <%= link_to "Home",  lists_path, class: "navbar-brand"%>
  <%= link_to "create tasks",  new_list_path , class:"mr-sm-2 navbar-brand"%>
</nav>

<div class = "d-flex flex-column justify-content-center ">
  <div class = "containerr p-2" style= "box-shadow: 0 1px 1px -1px gray">
    <h1 data-aos="zoom-out-right" data-aos-duration="100000"><%= @list.name %></h1>
  </div>

  <div class="banner" style="margin-bottom: 10px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/48/55/5b/48555b49e2c1470dea62f60c8a610179.jpg);" data-aos="flip-up">
  <div class="container">
    <h1>Mew movie brings <strong>fun</strong> and <strong>dope movie</strong>!</h1>
    <p>Change your life and watch mew movie from around the world.</p>
    <%= link_to "Bookmark", new_list_bookmark_path(@list), class:"mr-sm-2 navbar-brand", class:"btn btn-primary"%>
  </div>
</div>
<h2 data-aos="zoom-out-right" data-aos-duration="100000">bookmarks:</h2>
<% if @list.bookmarks.any? %>
<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    <% @list.bookmarks.each_with_index do |bookmark, index| %>
      <% if index == 0 %>
        <div class="carousel-item active">
      <% else %>
        <div class="carousel-item">
      <% end %>
      <div class="card-hello">
        <%= image_tag bookmark.movie.poster_url , width: '200px'%>
          <div class="card-hello-info">
            <h1><%= bookmark.movie.title %></h5>
            <p><%= bookmark.movie.overview %></p>
            <h2>Comments:</h2> <p> <%= bookmark.comment %> <%= link_to "🗑", bookmark_path(bookmark.id), method: :delete, data: { confirm: "Really delete #{bookmark.movie.title}?" } %></p>
          </div>
          </div>
      </div>
    <% end %>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<% else %>
<p> Be the first to bookmark...</p>
<% end %>

<%# https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg %>
<%# https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg %>
